<script src="assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="assets/bower_components/components-modernizr/modernizr.js"></script>
<script src="assets/bower_components/js-cookie/src/js.cookie.js"></script>
<script src="assets/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="assets/bower_components/jquery-fullscreen/jquery.fullscreen-min.js"></script>
<script src="assets/bower_components/switchery/dist/switchery.min.js"></script>
<script src="assets/bower_components/jquery.knobe/dist/jquery.knob.min.js"></script>
<script src="assets/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script src="assets/bower_components/slick.js/slick/slick.min.js"></script>
<script src="assets/bower_components/jquery-numerator/jquery-numerator.js"></script>
<script src="assets/bower_components/ladda/dist/spin.min.js"></script>
<script src="assets/bower_components/ladda/dist/ladda.min.js"></script>
<script src="assets/bower_components/ladda/dist/ladda.jquery.min.js"></script>
<!-- end: MAIN JAVASCRIPTS -->
<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<script src="assets/bower_components/Chart-js/Chart.min.js"></script>
<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<!-- start: Packet JAVASCRIPTS -->
<script src="assets/js_frontend/letter-icons.js"></script>
<script src="assets/js_frontend/main.js"></script>
<!-- end: Packet JAVASCRIPTS -->
<!-- start: JavaScript Event Handlers for this page -->
<script src="assets/js_frontend/index.js"></script>
<script>
    jQuery(document).ready(function() {
        Main.init();
        Index.init();
    });
</script>