<link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/bower_components/themify-icons/themify-icons.css">
<link rel="stylesheet" href="assets/bower_components/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="assets/bower_components/animate.css/animate.min.css">
<link rel="stylesheet" href="assets/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css">
<link rel="stylesheet" href="assets/bower_components/switchery/dist/switchery.min.css">
<link rel="stylesheet" href="assets/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css">
<link rel="stylesheet" href="assets/bower_components/ladda/dist/ladda-themeless.min.css">
<link rel="stylesheet" href="assets/bower_components/slick.js/slick/slick.css">
<link rel="stylesheet" href="assets/bower_components/slick.js/slick/slick-theme.css">
<!-- end: MAIN CSS -->
<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
<!-- start: Packet CSS -->
<link rel="stylesheet" href="assets/css/styles.css">
<link rel="stylesheet" href="assets/css/plugins.css">
<link rel="stylesheet" href="assets/css/themes/lyt2-theme-1.css" id="skin_color">
<!-- end: Packet CSS -->
<!-- Favicon -->
<link rel="shortcut icon" href="favicon.ico" />
<script src="assets/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="assets/js_frontend/strophe.js"></script>
<script src="assets/bower_components/jquery/dist/jquery.min.js"></script>
<script src="assets/js_frontend/chat.js"></script>